@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Medium.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 3%;
    background-color: #24252a;
}

.logo {
    cursor: pointer;
    width: 40px;
    order: 3;
    margin-left: auto;
}

nav {
    order: 1;
}
.home {
    order: 0;
    margin-right: 10px;
}
.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 10px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}