<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>OCSummer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=devith-width, initial-scale=1">
        <script src="/static/js/jquery-2.2.4.min.js"></script>
        <script>
            $(function() {
                $("#header").load("/static/htmlparts/navbar.html");
            });
        </script>
    </head>
    <body>
        <div id="header"></div>
        <h1>Hello World!</h1>
        セキュリティプロジェクトのやられDemoサイトです。        
    </body>
</html>