<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>サンプル</title>
<link href="https://fonts.googleapis.com/css?family=Prompt:100,400,800" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


<link href="style.css" rel="stylesheet">

</head>
<body>

<header>
	<div class="site">
		<span class="fa fa-home"></span>
		<a href="#">ACTIVE</a>
	</div>
	
	<nav class="menu">
	<ul>
		<li><a href="#">ホーム</a></li>
		<li><a href="#">新着ニュース</a></li>
		<li><a href="#">オフィス</a></li>
		<li><a href="#">お問い合わせ</a></li>
	</ul>
	</nav>
</header>

<div class="container">
<article>
	<img src="img/home.jpg" alt="">

	<h1>快適なホームオフィス</h1>

	<p>家でリラックスしながら仕事をする。そんなことが実現可能な世の中になってきました。面倒な作業を手助けしてくれるホームアシスタントも充実してきています。</p>

	<h2>コンパクトな作業スペース</h2>
	<p>オフィスだからといって広い作業スペースは必要ありません。Wi-Fiとパソコンを用意したら、そこはもうホームオフィスです。</p>

	<p>作業中のデータはクラウドで管理することができるので、収納スペースを用意したり、重い書類を持ち歩いたりしなくても大丈夫です。データはいつでも、どこからでも取り出して作業を進めることができます。</p>

	<h2>手軽に気分転換</h2>
	<p>仕事に行き詰まったり、新しい発想が出てこなくなったら、料理をしたり、本を読んだりしてリフレッシュするのもいい考えだと思います。使い馴染んだキッチンも本棚もすぐそこにあるので、気分転換も簡単です。</p>


	<aside class="sns">
	<ul>
		<li><a href="#"><span class="fa fa-twitter"></span><span class="sr-only">Twitter</span></a></li>
		<li><a href="#"><span class="fa fa-facebook"></span><span class="sr-only">Facebook</span></a></li>
		<li><a href="#"><span class="fa fa-instagram"></span><span class="sr-only">Instagram</span></a></li>
	</ul>
	</aside>

</article>

<aside class="osusume">
	<h2>おすすめ記事</h2>
	<ul>
		<li><a href="#"><img src="img/pen650.jpg" alt="">お気に入りのカラーマーカー</a></li>
		<li><a href="#"><img src="img/music650.jpg" alt="">音楽をききながら仕事するといろいろ捗るとか捗らないとか</a></li>
		<li><a href="#"><img src="img/backpack650.jpg" alt="">ノートパソコンがぴったり収まる軽量バックパック</a></li>
		<li><a href="#"><img src="img/green650.jpg" alt="">目に優しい観葉植物を置いてみた</a></li>
	</ul>
</aside>
</div><!-- container -->

<footer>
	<small>@ ACTIVE, All rights reserved.</small>
</footer>


</body>
</html>
